
 .table{
    display: inline-block;
 }
 .table-border{
    border: 1px solid black;
}
 
th , td{
    border: 1px solid black;
    width:130px;
    padding: 5px;
}
.caption{
    text-align: center;
    margin: 0;
}

